* {
  margin: 0px;
  padding: 0px;
} 

#imagemFundo{
  position: fixed;
  height: 100%;
  width: 100%;
}

#titulo{
    color: white;
    font-family: Calibri;
    top: 90px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.containerTopics{
  position: absolute;
  display: grid;
  grid-template-columns: 420px 420px 420px 420px;
  top: 17%;
  left: 70px;
}

.topics{
  border: 3px solid black;
  border-radius: 20px;
  background-color: #F5F5F5;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.2);
  width: 400px;
  margin: 5px;
  height: auto;
  position: relative;
  left: 50px;
  align-items: center;
  cursor: auto;
}

.topics:hover{
  background-color: bisque;
}

.topics hr{
  border: 1px dashed black;
}

p{
  position: relative;
  font-weight: normal;
  font-family: Calibri;
  color: black;
  top: auto;
  margin-left: 15px;
  margin-right: 20px;
  overflow-wrap: anywhere;
}

